.spell-interface-container {
	width: 95%;
	max-width: 1280px;
	margin: auto;
}

.chakra-tabs__list {
	overflow: visible;
	border: none;
}

.chakra-tabs__trigger {
	font-family: 'Figtree', sans-serif;
	font-size: 1.25rem;
	font-weight: 600;
	margin: 0.5rem;
	padding: 1.5rem;
	border: 0.125rem solid var(--chakra-colors-border-default);
	border-radius: 0.5rem;
	text-transform: uppercase;
	white-space: nowrap;
	min-width: max-content;
}

.chakra-tabs__trigger[data-selected] {
	background-color: var(--chakra-colors-bg-emphasized);
}

.chakra-tabs__trigger svg {
	width: 1.75rem;
	height: 1.75rem;
}

.chakra-tabs__trigger::before {
	background: none;
	border: none;
}
