.spell-list-container {
	gap: 0.75rem;
	max-width: 100%;
	width: 100%;
}

@media (min-width: 768px) {
	.spell-list-container {
		max-width: 95%;
	}
}

@media (min-width: 1400px) {
	.spell-list-container {
		max-width: calc(420px * 3 + 3rem);
	}
}
