:root {
	--dice-size: 5rem;
	--dice-height: 4.325rem;

	--color-dnd-red: #c73032;
	--color-barbarian: #e7623e;
	--color-barbarian-background: #e7623e25;
	--color-bard: #ab6dac;
	--color-bard-background: #ab6dac25;
	--color-cleric: #91a1b2;
	--color-cleric-background: #91a1b225;
	--color-druid: #7a853b;
	--color-druid-background: #7a853b25;
	--color-fighter: #7f513e;
	--color-fighter-background: #7f513e25;
	--color-monk: #51a5c5;
	--color-monk-background: #51a5c525;
	--color-paladin: #b59e54;
	--color-paladin-background: #b59e5425;
	--color-ranger: #507f62;
	--color-ranger-background: #507f6225;
	--color-rogue: #555752;
	--color-rogue-background: #55575225;
	--color-sorcerer: #992e2e;
	--color-sorcerer-background: #992e2e25;
	--color-warlock: #7b469b;
	--color-warlock-background: #7b469b25;
	--color-wizard: #2a50a1;
	--color-wizard-background: #2a50a125;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--chakra-colors-gray-50);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.app-container {
	font-family: sans-serif;
	text-align: center;
}

.content-text,
.content-text p,
.content-text ul,
.content-text li {
	margin-bottom: 1rem;
	font-size: 0.875rem;
}
