:root {
	--base-size: 5rem;
	--base-height: 4.325rem;
	--chakra-colors-gray-950: #111;
	--chakra-colors-gray-50: #fafafa;
}

body {
	background-color: #290000;
}

.App {
	font-family: sans-serif;
	text-align: center;
}

p {
	margin-bottom: 1rem;
	font-size: 0.875rem;
}

.stats {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	background-color: var(--chakra-colors-gray-950);
}

.stat {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border-radius: 0.6rem;
}

.chakra-stat:nth-of-type(odd) {
	border-right: calc(0.375rem / 2) solid var(--chakra-colors-gray-950);
}

.chakra-stat:nth-of-type(even) {
	border-left: calc(0.375rem / 2) solid var(--chakra-colors-gray-950);
}

.chakra-stat {
	border-bottom: 0.375rem solid var(--chakra-colors-gray-950);
	background-color: var(--chakra-colors-gray-100);
	margin-top: 0 !important;
}

.chakra-stat dl {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

dd.chakra-stat__number {
	font-size: 1.025rem;
}

.spell-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
	padding: 2.5rem 1rem;
	background-color: var(--chakra-colors-black);
}

.spell-card {
	border-radius: 0.6rem;
	max-width: 420px;
	aspect-ratio: 5/7;
}

.chakra-card__header,
.chakra-card__body,
.chakra-card__footer {
	padding: 0;
	margin: 0.5rem 0.5rem 0;
	border-radius: 0.6rem;
}

.chakra-card__header {
	padding: 0.25rem !important;
	margin: 0 auto;
}

.chakra-card__footer {
	padding: 0.5rem 0.5rem 0 !important;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	background: var(--chakra-colors-gray-950);
	border-radius: 0;
	max-height: 2.4rem;
}

.chakra-card__body {
	border-bottom: 2px solid #e2e8f0;
	padding: 0 !important;
	margin: 0.5rem 0 0;
}

.chakra-heading {
	margin: 0.25rem auto 0.1rem;
}

.chakra-text {
	margin: 0.1rem auto;
}

.chakra-card.spell-card {
	border: 0.5rem solid var(--chakra-colors-gray-950);
	border-radius: 0.6rem;
	background-color: var(--chakra-colors-gray-100);
	position: relative;
}

.section-divider {
	height: 0.375rem;
	background: var(--chakra-colors-gray-950);
	margin-top: -1rem;
}

span.chakra-badge {
	background: var(--chakra-colors-gray-100) !important;
	border: 0.375rem solid var(--chakra-colors-gray-950) !important;
	z-index: 1;
	margin: auto;
	padding: 0 0.5rem;
	border-radius: 0.5rem;
}

.chakra-card__footer span.chakra-badge {
	margin: 0.25rem 0.375rem;
	padding: 0 0.375rem;
	border: none !important;
	border-radius: 0.25rem;
}

.description {
	padding: 1rem;
	height: 100%;
	max-height: 25.5rem;
	overflow: hidden;
	display: grid;
	gap: 1rem;
	grid-template-rows: auto;
	text-align: left;
}

.description:has(.spell-higher-level) {
	grid-template-rows: 3fr 1fr;
}

.spell-level {
	margin-top: -2.5rem;
}

.spell-classes {
	display: flex;
	flex-wrap: wrap;
}

.spell-level .chakra-stat {
	background-color: var(--chakra-colors-gray-100);
	padding: 0.75rem 1rem;
	border: 0.5rem solid;
	border-radius: 50%;
}

.description-copy,
.spell-higher-level {
	overflow: scroll;
}

.concentration-icon {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--chakra-colors-gray-950);
	border-bottom-left-radius: 50%;
	color: var(--chakra-colors-gray-100);
}

.concentration-icon svg {
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--chakra-colors-gray-100);
	border-radius: 50%;
}

.concentration-icon .chakra-text {
	font-size: 1rem;
	font-weight: bold;
	line-height: 1rem;
	padding: 0.25rem 0.25rem 0.375rem 0.375rem;
}

.loading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - (var(--base-size) * 0.845));
}

.loading {
	display: block;
	margin-top: calc(var(--base-size) * 0.845);
	font-size: 3rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-align: center;
	color: var(--chakra-colors-gray-50);
}

.d20 {
	position: relative;
	width: var(--base-size);
	height: calc(var(--base-size) * 0.845);
	transform-style: preserve-3d;
}

.loading span {
	display: inline-block;
	animation: loading 0.7s infinite alternate;
}

.loading span:nth-child(2) {
	animation-delay: 0.1s;
}
.loading span:nth-child(3) {
	animation-delay: 0.2s;
}
.loading span:nth-child(4) {
	animation-delay: 0.3s;
}
.loading span:nth-child(5) {
	animation-delay: 0.4s;
}
.loading span:nth-child(6) {
	animation-delay: 0.5s;
}
.loading span:nth-child(7) {
	animation-delay: 0.6s;
}

@keyframes loading {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.8);
	}
}

@media screen and (prefers-reduced-motion: no-preference) {
	.d20 {
		animation: rotate 10s infinite linear;
	}
}

.d20,
.d20 div {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.d20 div {
	width: var(--base-size);
	height: var(--base-height);
	position: absolute;
	/*   opacity: 0.8; */
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	transform-origin: top;
	background-color: var(--chakra-colors-gray-950);
	background:
		linear-gradient(180deg, #fff 0, #fff 0%, #0000 2%, #0000 100%), linear-gradient(300deg, #fff 0, #fff 32.5%, #0000 35%, #0000 100%),
		linear-gradient(60deg, #fff 0, #fff 32.5%, #0000 35%, #0000 100%),
		linear-gradient(0deg, var(--chakra-colors-gray-950) 0, var(--chakra-colors-gray-950) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--base-size) * 0.4);
	color: #fff;
	line-height: -1;
	padding-bottom: calc(var(--base-size) * 0.3);
	--die-face: calc(var(--base-size) * 0.69);
}

/* Grouped faces so opposites are together. */
/* They should add up to 21. */
.d20 div:nth-child(1) {
	transform: rotateY(0.7turn) translateZ(calc(var(--die-face) * -1)) rotateX(127deg);
}
.d20 div:nth-child(20) {
	bottom: calc(var(--base-height) * -1);
	transform: rotateY(0.7turn) translateZ(var(--die-face)) rotateX(307deg);
}

.d20 div:nth-child(2) {
	transform: rotateY(0.6turn) translateZ(var(--die-face)) rotateX(11deg);
}
.d20 div:nth-child(19) {
	bottom: calc(var(--base-height) * -1);
	transform: rotateY(0.6turn) translateZ(calc(var(--die-face) * -1)) rotateX(191deg);
}

.d20 div:nth-child(3) {
	bottom: calc(var(--base-height) * -1);
	transform: rotateY(1turn) translateZ(calc(var(--die-face) * -1)) rotateX(191deg);
}
.d20 div:nth-child(18) {
	transform: rotateY(1turn) translateZ(var(--die-face)) rotateX(11deg);
}

.d20 div:nth-child(4) {
	transform: rotateY(0.3turn) translateZ(calc(var(--die-face) * -1)) rotateX(127deg);
}
.d20 div:nth-child(17) {
	bottom: calc(var(--base-height) * -1);
	transform: rotateY(0.3turn) translateZ(var(--die-face)) rotateX(307deg);
}

.d20 div:nth-child(5) {
	transform: rotateY(0.8turn) translateZ(var(--die-face)) rotateX(11deg);
}
.d20 div:nth-child(16) {
	bottom: calc(var(--base-height) * -1);
	transform: rotateY(0.8turn) translateZ(calc(var(--die-face) * -1)) rotateX(191deg);
}

.d20 div:nth-child(6) {
	transform: rotateY(0.9turn) translateZ(calc(var(--die-face) * -1)) rotateX(127deg);
}
.d20 div:nth-child(15) {
	bottom: calc(var(--base-height) * -1);
	transform: rotateY(0.9turn) translateZ(var(--die-face)) rotateX(307deg);
}

.d20 div:nth-child(7) {
	bottom: calc(var(--base-height) * -1);
	transform: rotateY(0.2turn) translateZ(calc(var(--die-face) * -1)) rotateX(191deg);
}
.d20 div:nth-child(14) {
	transform: rotateY(0.2turn) translateZ(var(--die-face)) rotateX(11deg);
}

.d20 div:nth-child(8) {
	transform: rotateY(0.1turn) translateZ(calc(var(--die-face) * -1)) rotateX(127deg);
}
.d20 div:nth-child(13) {
	bottom: calc(var(--base-height) * -1);
	transform: rotateY(0.1turn) translateZ(var(--die-face)) rotateX(307deg);
}

.d20 div:nth-child(9) {
	transform: rotateY(0.4turn) translateZ(var(--die-face)) rotateX(11deg);
}
.d20 div:nth-child(12) {
	bottom: calc(var(--base-height) * -1);
	transform: rotateY(0.4turn) translateZ(calc(var(--die-face) * -1)) rotateX(191deg);
}

.d20 div:nth-child(10) {
	transform: rotateY(0.5turn) translateZ(calc(var(--die-face) * -1)) rotateX(127deg);
}
.d20 div:nth-child(11) {
	bottom: calc(var(--base-height) * -1);
	transform: rotateY(0.5turn) translateZ(var(--die-face)) rotateX(307deg);
}

@keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
	}
	to {
		transform: rotateX(360deg) rotateY(0deg) rotateZ(-360deg);
	}
}
