.loading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(60vh - (var(--dice-size) * 0.845));
}

.loading-text {
	display: block;
	margin-top: calc(var(--dice-size) * 0.845);
	font-size: 3rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-align: center;
	color: var(--chakra-colors-text-secondary);
}

.dice-d20 {
	position: relative;
	width: var(--dice-size);
	height: calc(var(--dice-size) * 0.845);
	transform-style: preserve-3d;
}

.loading-text span {
	display: inline-block;
	animation: pulse-scale 0.7s infinite alternate;
}

.loading-text span:nth-child(2) { animation-delay: 0.1s; }
.loading-text span:nth-child(3) { animation-delay: 0.2s; }
.loading-text span:nth-child(4) { animation-delay: 0.3s; }
.loading-text span:nth-child(5) { animation-delay: 0.4s; }
.loading-text span:nth-child(6) { animation-delay: 0.5s; }
.loading-text span:nth-child(7) { animation-delay: 0.6s; }

@keyframes pulse-scale {
	0% { transform: scale(1); }
	100% { transform: scale(0.8); }
}

@media (prefers-reduced-motion: no-preference) {
	.dice-d20 {
		animation: rotate-3d 10s infinite linear;
	}
}

.dice-d20,
.dice-d20 div {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.dice-face {
	width: var(--dice-size);
	height: var(--dice-height);
	position: absolute;
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	transform-origin: top;
	background:
		linear-gradient(180deg, #fff 0, #fff 0%, #0000 2%, #0000 100%),
		linear-gradient(300deg, #fff 0, #fff 32.5%, #0000 35%, #0000 100%),
		linear-gradient(60deg, #fff 0, #fff 32.5%, #0000 35%, #0000 100%),
		linear-gradient(0deg, var(--chakra-colors-black) 0, var(--chakra-colors-black) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--dice-size) * 0.4);
	color: #fff;
	padding-bottom: calc(var(--dice-size) * 0.3);
	--face-depth: calc(var(--dice-size) * 0.69);
}

.dice-d20 .dice-face:nth-child(1) {
	transform: rotateY(0.7turn) translateZ(calc(var(--face-depth) * -1)) rotateX(127deg);
}
.dice-d20 .dice-face:nth-child(20) {
	bottom: calc(var(--dice-height) * -1);
	transform: rotateY(0.7turn) translateZ(var(--face-depth)) rotateX(307deg);
}
.dice-d20 .dice-face:nth-child(2) {
	transform: rotateY(0.6turn) translateZ(var(--face-depth)) rotateX(11deg);
}
.dice-d20 .dice-face:nth-child(19) {
	bottom: calc(var(--dice-height) * -1);
	transform: rotateY(0.6turn) translateZ(calc(var(--face-depth) * -1)) rotateX(191deg);
}
.dice-d20 .dice-face:nth-child(3) {
	bottom: calc(var(--dice-height) * -1);
	transform: rotateY(1turn) translateZ(calc(var(--face-depth) * -1)) rotateX(191deg);
}
.dice-d20 .dice-face:nth-child(18) {
	transform: rotateY(1turn) translateZ(var(--face-depth)) rotateX(11deg);
}
.dice-d20 .dice-face:nth-child(4) {
	transform: rotateY(0.3turn) translateZ(calc(var(--face-depth) * -1)) rotateX(127deg);
}
.dice-d20 .dice-face:nth-child(17) {
	bottom: calc(var(--dice-height) * -1);
	transform: rotateY(0.3turn) translateZ(var(--face-depth)) rotateX(307deg);
}
.dice-d20 .dice-face:nth-child(5) {
	transform: rotateY(0.8turn) translateZ(var(--face-depth)) rotateX(11deg);
}
.dice-d20 .dice-face:nth-child(16) {
	bottom: calc(var(--dice-height) * -1);
	transform: rotateY(0.8turn) translateZ(calc(var(--face-depth) * -1)) rotateX(191deg);
}
.dice-d20 .dice-face:nth-child(6) {
	transform: rotateY(0.9turn) translateZ(calc(var(--face-depth) * -1)) rotateX(127deg);
}
.dice-d20 .dice-face:nth-child(15) {
	bottom: calc(var(--dice-height) * -1);
	transform: rotateY(0.9turn) translateZ(var(--face-depth)) rotateX(307deg);
}
.dice-d20 .dice-face:nth-child(7) {
	bottom: calc(var(--dice-height) * -1);
	transform: rotateY(0.2turn) translateZ(calc(var(--face-depth) * -1)) rotateX(191deg);
}
.dice-d20 .dice-face:nth-child(14) {
	transform: rotateY(0.2turn) translateZ(var(--face-depth)) rotateX(11deg);
}
.dice-d20 .dice-face:nth-child(8) {
	transform: rotateY(0.1turn) translateZ(calc(var(--face-depth) * -1)) rotateX(127deg);
}
.dice-d20 .dice-face:nth-child(13) {
	bottom: calc(var(--dice-height) * -1);
	transform: rotateY(0.1turn) translateZ(var(--face-depth)) rotateX(307deg);
}
.dice-d20 .dice-face:nth-child(9) {
	transform: rotateY(0.4turn) translateZ(var(--face-depth)) rotateX(11deg);
}
.dice-d20 .dice-face:nth-child(12) {
	bottom: calc(var(--dice-height) * -1);
	transform: rotateY(0.4turn) translateZ(calc(var(--face-depth) * -1)) rotateX(191deg);
}
.dice-d20 .dice-face:nth-child(10) {
	transform: rotateY(0.5turn) translateZ(calc(var(--face-depth) * -1)) rotateX(127deg);
}
.dice-d20 .dice-face:nth-child(11) {
	bottom: calc(var(--dice-height) * -1);
	transform: rotateY(0.5turn) translateZ(var(--face-depth)) rotateX(307deg);
}

@keyframes rotate-3d {
	from {
		transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
	}
	to {
		transform: rotateX(360deg) rotateY(0deg) rotateZ(-360deg);
	}
}
